<!-- filename: byp-header-container.liquid -->
{{ "option_selection.js" | shopify_asset_url | script_tag }} 
{{ "shopify_common.js" | shopify_asset_url | script_tag }} 


{% for item in cart.items %}
       {% if item.product.tags contains 'bundlehandle' %} 	      
                    {% if item.variant.compare_at_price > item.variant.price %}
                      {% assign saving = item.variant.compare_at_price | minus: item.variant.price | times: item.quantity %}
                      {% assign total_saving = saving | plus: total_saving %}
                    {% endif %}

                    <li class="mini-cart__item clearfix" data-cart-item data-line-id="{{ forloop.index }}" data-variant-id="{{ item.id }}">

                      <a href="{{ item.url }}">
                        {% if item.image %}
                          <div class="cart_image mini-cart__item-image">
                            <img src="{{ item | img_url: '320x' }}" alt="{{ item.title | escape }}" class="lazyload" />
                          </div>
                        {% endif %}
                      </a>

                      <div class="mini-cart__item--content">
                        {% if item.line_level_discount_allocations.size > 0 %}
                          {% for discount_allocation in item.line_level_discount_allocations %}
                            <div class="item_title" style="font-size: 12px; color: #000;"> 
                             <!-- <span class="label">{{ 'cart.general.discount' | t }}:</span> -->
                              
                           </div>
                          {% endfor %}
                        {% endif %}
                        <div class="mini-cart__item__title">
                          <div class="item_title" style="font-size: 14px;">
                            <a href="{{ item.url }}">
                              {{ item.product.title | replace:'*','' | replace:'@','' }}
                              {% if item.variant.tags contains 'noatc' %}
                              {% unless item.product.has_only_default_variant or item.variant.title contains "Title" %}
                                -
                                {% for option in item.product.options %}
                                  {{ item.variant.options[forloop.index0] }} {% unless forloop.last %}/{% endunless %}
                                {% endfor %}
                              {% endunless %}
                              
                              {% else %}
                              {% if item.properties %}
                                {% for p in item.properties %}
                                  {% if p.last != blank %}
                                    <div class="line-item">
                                      {{ p.first }}: {{ p.last }}
                                    </div>
                                  {% endif %}
                                {% endfor %}
                              {% endif %}
                              {% endif %}
                            </a>
                          </div>
                        </div>
                        <div style="width: 100%;">
                          <p class="meta">
                            <a class="label" id="openbundle">
                              What's Inside:
                            </a>
                          </p>
                            <div class="inside-bundle">
                            </div>
                          </div>

                        <strong class="left price">
                          
                        {{ 'cart.general.total' | t }}:
                        {% if item.line_level_discount_allocations.size > 0 %}
                          <span class="money" style="color: #d54d4d;">
                            {{ item.original_line_price | money }}
                          </span>
                        {% endif %}
                        <span class="money {% if item.line_level_discount_allocations.size > 0 %}was_price{% endif %}">
                          {% if item.price == item.variant.compare_at_price %}
                          {% else %}
                          {{ item.variant.compare_at_price | money }}
                          {% endif %}
                        </span>
              
                        </strong>



                        

                      </div>
					  {% assign removeables = "" %}
                      {% for item in cart.items %}
                      {% if item.product.tags contains 'bundlehandle' or item.product.tags contains 'bundlechild'  %}
                        {% capture link_span_gwp %}{{ item.variant.id }}{% endcapture %}
                        {% capture removeables %}{% unless removeables == blank %}{{ removeables }},{% endunless %}{{ link_span_gwp }}{% endcapture %}
                        {% endif %}
                      {% endfor %}
                      <a onclick="removeItems('{{ removeables }}')" class="cart__remove-btn" ><span class="remove-icon"></span></a>

                    </li>
         {% endif %}        
{% endfor %}



<ul id="inside-bundle" class="meta">
{% for item in cart.items %}
 {% if item.product.tags contains 'bundlechild' %}
  
<li class="mini-cart__item clearfix" style="margin-bottom: 0;"> 
  <a href="#"> 
    <div class="cart_image mini-cart__item-image" style="max-width: 65px!important; min-width: 65px!important;"> 
      {% include 'image-element', image: item, alt: item.title, object_fit: settings.align_height, max_height: settings.collection_height %}
    </div>
  </a> 
  <div class="mini-cart__item--content" style="position: relative;
    top: 10px;"> 
    <div class="item_title" style="font-size: 12px; color: #000;">
         {{ item.product.title | replace:'*','' | replace:'@','' }} | {{ item.variant.title }}
    </div> 
  </div>
</li>
 {% endif %}
{% endfor %}
</ul>



<style>
  ul#inside-bundle {
  	display: none;
    padding-left: 0;
  }
  a#openbundle  {
    text-decoration: underline;
    cursor: pointer;
    color: #f08d80;
  }
  
</style>

{% for item in cart.items %}
  {% if item.product.tags contains 'bundlehandle' or item.product.tags contains 'bundlechild'  %}
   <div class="cartItemBundle">
	<input type="hidden" value="{{ item.variant.id }}">
   </div>
  {% endif %}
{% endfor %}


<script>
$("#inside-bundle").insertAfter( $( ".inside-bundle" ) );
</script>

<script>
$("#openbundle").click(function(){
  $("body #inside-bundle").slideToggle();
});
</script>


<script>
function removeItems(items) {
  
  var itemsArray = items.split(',');
  var qty = 0;
  var data = { updates: {} };
 
  for (i = 0; i < itemsArray.length; i++) {
     data.updates[itemsArray[i]] = qty;
  }

  jQuery.ajax({
    type: 'POST',
    url: '/cart/update.js',
    data: data,
    dataType: 'json',
    success: function() { 
      setTimeout(function() {
            	window.location.reload();
            }, 5000);
    }
  });

}
</script>