<!-- filename: newdailycountdown.liquid -->
<div class="container countdown">
  <div class="vertical-container">
    <div class="countdown-title">
      <h3 style="text-align: center;
    font-weight: bold; color: #511811;">{% if section.settings.header != blank %}{{ section.settings.header }}{% endif %} {% if header != blank %}{{ header }}{% endif %}</h3>
      <h3 class="subt" style="text-align: center;
    font-weight: bold; color: #d3725d;">{% if section.settings.subheader != blank %}{{ section.settings.subheader }}{% endif %}{% if header != blank %}{{ subheader }}{% endif %}</h3>
    </div>
    <div class="countdown-timer vertical">
      <ul>
       <li class="time odd days"><span id="days" class="js-timer-days"></span>days</li>
        <li class="time hours"><span id="hours" class="js-timer-hours"></span>Hours</li>
    	<li class="time minutes"><span id="minutes" class="js-timer-minutes"></span>Minutes</li> 
        <li class="time seconds"><span id="seconds" class="js-timer-seconds"></span>Seconds</li>
      </ul>
    </div>
  </div>
  <hr class="countdown-hr"/>
</div>

<style>
  .vertical-container{ width: 100%;}  
  .countdown-title {width: 100%;float:left}  
  .countdown-botton {width: 100%;float:left;text-align: center;}  
  .countdown-timer {width: 100%;} 
  .countdown-timer ul {margin-bottom:0;}
  
.vertical-container .vertical {
  vertical-align: middle!important;  
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
  .countdown-title h2 {
  width: 100%;
    text-align: center;
  }
  .vertical ul {
  padding-left: 0!important;
    margin-top: 0!important;
  }  
.time {
  display: inline-block;
  font-size: 16px;
  list-style-type: none;
  padding: 0 1em;
  text-transform: uppercase;
  text-align: center
  margin-bottom: 0;
}

.time span {
  display: block;
  font-size: 34px;
  line-height: 1;
  text-align: center;
}

.countdown h1 {
  color: #506a28;
  font-weight: bold;
  text-transform: capitilize;
}
  
  
@media only screen and (max-width: 480px) {
  .time {
    font-size: 12px;
    margin-bottom: 0;
    margin-top: 0;
    padding: 5px;
  }
  .countdown-title.vertical {
   flex: 0 0 40%!important;
  }
  .time span {
    display: block;
    font-size: 22px;
    line-height: 1;
    text-align: center;
  }
  .vertical-container {
    width: 100%;
  }
  .countdown-timer ul {
    padding: 0;
    text-align: center;
  }
  .dropbtn {
    font-size: 12px!important;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 0;
    left: -77px!important;
    margin: 0 20px;
	}
  .countdown{
  	font-size:18px !important;
  }
  
}
  
</style>

<script type="text/javascript">
    var second = 1000,
      minute = second * 60,
      hour = minute * 60,
      day = hour * 24;
    {%- if reset_in != blank -%}
      var shopifyExplorerCustomUnits = {
        ms: 1/1000,
        m: 60,
        min: 60, mins: 60,
        minute: 60, minutes: 60,
        h: 60*60,
        hr: 60*60, hrs: 60*60,
        hour: 60*60, hours: 60*60,
        d: 60*60*24,
        day: 60*60*24, days: 60*60*24,
      };
      Date.shopifyExplorerParseInterval = function(interval) {
        var seconds = 0;
        interval.replace(/(\d+(?:\.\d*)?)\s*([a-z]+)?/ig, function($0, number, unit) {
          if (unit) {
            number *= shopifyExplorerCustomUnits[unit.toLowerCase()] || 1;
          }
          seconds += +number;
        });
        return seconds * 1000;
      };
      function shopifyExplorerTimesUntilDefinedTime(time) { 
        var midnight = new Date(time);
        midnight.setHours( {{ section.settings.enddate }} );
        midnight.setMinutes( 0 );
        midnight.setSeconds( 0 );
        midnight.setMilliseconds( 0 );
        return midnight.getTime();
      }
      var current = new Date();
      var compareTime = current.getTime() + Date.shopifyExplorerParseInterval('{{- reset_in -}}');
      var countDown = shopifyExplorerTimesUntilDefinedTime(compareTime);
    {%- elsif end_date != blank-%}
      var countDown = new Date('{{- end_date -}}').getTime();
    {%- endif -%}
    var x = setInterval(function() {
      var now = new Date().getTime(),
        distance = countDown - now;
      document.querySelector('.js-timer-days').innerText = Math.floor(distance / (day)),
         document.querySelector('.js-timer-hours').innerText = Math.floor((distance % (day)) / (hour)),        
        document.querySelector('.js-timer-minutes').innerText = Math.floor((distance % (hour)) / (minute)),
        document.querySelector('.js-timer-seconds').innerText = Math.floor((distance % (minute)) / second);
    }, second)
</script>






<style>
.dropbtn {
  background-color: #506a28;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  opacity: 0.7;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  right: 0;
    left: 0;
    margin: 0 20px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}
</style>




<script>
/* When the user clicks on the button, 
toggle between hiding and showing the dropdown content */
function myFunction() {
  document.getElementById("myDropdown").classList.toggle("show");
}

// Close the dropdown if the user clicks outside of it
window.onclick = function(event) {
  if (!event.target.matches('.dropbtn')) {
    var dropdowns = document.getElementsByClassName("dropdown-content");
    var i;
    for (i = 0; i < dropdowns.length; i++) {
      var openDropdown = dropdowns[i];
      if (openDropdown.classList.contains('show')) {
        openDropdown.classList.remove('show');
      }
    }
  }
}
</script>





