<!-- filename: two-columns-layout.liquid -->
<div style=" background-color: {{ block.settings.two-col-bg_color }}; color: {{ block.settings.two-col-text_color }}; width: 100%;margin-top: {{ block.settings.two-col-margin-top }}px;margin-bottom: {{ block.settings.two-col-margin-bottom}}px;padding-top: {{ block.settings.two-col-padding-top }}px;padding-bottom: {{ block.settings.two-col-padding-bottom }}px;">
    <div class="container">
      {% unless block.settings.two-col-main_heading == blank %}
      <p style="color: {{ block.settings.two-col-text_color }};text-align:center;"><strong>{{ block.settings.two-col-main_heading }}</strong><br/>
      {% unless block.settings.two-col-sub_heading == blank %}{{ block.settings.two-col-sub_heading }}{% endunless %}</p>{% endunless %}      
        <div class="row">
            <div class="duo small-down--one-whole">
                <center>
                  {% unless block.settings.two-col-column1_title == blank %}
                    <strong>{{ block.settings.two-col-column1_title }}</strong> <br>
                  {% endunless %}
                  {% unless block.settings.two-col-column1_content == blank %}
                  	<p>{{ block.settings.two-col-column1_content }}</p>
                  {% endunless %}
                  	{% unless block.settings.two-col-column1_url == blank %}
                  	<a href="{{ block.settings.two-col-column1_url }}"><button>{{ block.settings.two-col-column1_buttontext }}</button></a>
                  	{% endunless %}
                </center>
            </div>
            <div class="duo small-down--one-whole">
                <center>
                  {% unless block.settings.two-col-column2_title == blank %}
                    <strong>{{ block.settings.two-col-column2_title }}</strong> <br>
				  {% endunless %}
                  {% unless block.settings.two-col-column2_content == blank %}
                  	<p>{{ block.settings.two-col-column2_content }}</p>
                  {% endunless %}                  
                  {% unless block.settings.two-col-column2_url == blank %}
                  <a href="{{ block.settings.two-col-column2_url }}"><button>{{ block.settings.two-col-column2_buttontext }}</button></a>
                  {% endunless %}
                </center>
            </div>
        </div>
    </div>
</div>

