<!-- filename: wishlist-product-desktop.liquid -->
{% if customer %}

  {%- capture wish_handle_final -%}
      {%- assign wish_handle = customer.metafields.wish_list.get_product | split: ',' -%}
      {%- for tag_wish in wish_handle -%}
          {{tag_wish}}<br>
      {%- endfor -%}
  {%- endcapture -%}

  {%- assign wish_meta = customer.metafields.wish_list.get_product | split: ',' -%}
  {%- for tag_handle in wish_meta limit:1 -%}
    {%- assign handle_first = tag_handle -%}
  {%- endfor -%}

  {% for tag_one in wish_meta %}
    {% assign tag_loop = forloop.index %}
  {% endfor %}

  {% assign wish_true = false %}
  {% if product.handle == handle_first %}
    {% assign wish_true = true %}
  {% endif %}

  {% assign new_handle_first = handle_first | append: ',' %}
  {% assign new_pro_handle = product.handle | prepend: ',' %}
 
  {% if wish_handle_final contains product.handle %}
    <form action="/a/custmeta" method="POST" class="custmeta_wish hidden-mobile">
      <input type="hidden" name="customer[id]" value="{{ customer.id }}" />
      <input type="hidden" name="metafield[wish_list.get_product]" value="{% if wish_true == true %}{% if tag_loop == 1 %}{% else %}{{customer.metafields.wish_list.get_product | remove: new_handle_first }}{% endif %}{% else %}{{customer.metafields.wish_list.get_product | remove: new_pro_handle }}{% endif %}">
      {% comment %} <input type="submit" value="&#xf004 Remove from Wishlist" class="save-btn" /> {% endcomment %}
      <button type="submit" class="save-btn">
        <img src="{{ 'heart-fill.png' | asset_url }}"> 
      </button>
    </form>
  {% else %}
    
      
 	<form action="/a/custmeta" method="POST" class="custmeta_wish hidden-mobile">
      <input type="hidden" name="customer[id]" value="{{ customer.id }}" />
      <input type="hidden" name="metafield[wish_list.get_product]" value="{%- if customer.metafields.wish_list.get_product != blank -%}{{customer.metafields.wish_list.get_product}},{{product.handle}}{%- else -%}{{product.handle}}{%- endif -%}">
      {% comment %} <input type="submit" value="Add to Wishlist" class="save-btn" /> {% endcomment %}
      <button type="submit" class="save-btn">
        <img src="{{ 'heart-nofill.png' | asset_url }}">
      </button>
    </form>
   
  {% endif %}
{% else %}
   
      <button type="submit" class="product-save-btn hidden-mobile">
        <img src="{{ 'heart-nofill.png' | asset_url }}"> 
      </button>
    
{% endif %}

<script>
  $('form.custmeta_wish').submit(function(e) {
    e.preventDefault();
    $.ajax({
      type: "POST",
      dataType: "json",
      data: $(this).serialize(),
      url: $(this).attr('action'),
      success: function (data) {
        var formValid = (data.status === 'OK');
        if (formValid) {
          var msgs = '';
          for (var i=0;i<data.messages.length;i++) {
            msgs += '-- ' + data.messages[i] + '\n';
          }
          if (msgs > '') {
            //alert('SUCCESS WITH MESSAGES:\n\n' + msgs);
          }
          else {
            //alert('SUCCESS!');
            location.reload();
          }
        }
        else {
            //alert('Status: ' + data.status + '\nMessage: ' + data.message);
        }
      },
      error: function (jqXHR, textStatus, errorThrown) {
        //alert('AJAX or Server 500 error occurred');
      }
    });
    return false;
  });
  
  
    $('.product-save-btn').click(function(e) {
    	e.preventDefault();
      	$currenturl = window.location.href;
      	$("#redirecturl").val($currenturl);
		$data = JSON.parse($(".product_form").attr("data-product"))
        document.cookie.match(/^(.*;)?\s*wishlistlist\s*=\s*[^;]+(.*)?$/)
        if(document.cookie.match(/^(.*;)?\s*wishlistlist\s*=\s*[^;]+(.*)?$/)){
          	$wishlistarray = JSON.parse(Cookies.get('wishlistlist'))
          	$data = $data.id;
          	if($wishlistarray.includes($data)){
          		$("#custom-login").show();
              	window.stop();
              	location.href = "#custom-login";
              return false;
            }else{
          		$("#custom-login").show();
              	window.stop();
              	location.href = "#custom-login";
            	$wishlistarray.push($data); 
                return false;
            }
          	
      		Cookies.set('wishlistlist', JSON.stringify($wishlistarray) , { expires: 7 })
            
        }else{
                $("#custom-login").show();
              	window.stop();
              	location.href = "#custom-login";
          return false;
          let emptyarray = ["start"];
        	Cookies.set('wishlistlist', JSON.stringify(emptyarray) , { expires: 7 })
            
        }
    });
   
</script>

<style>
.custmeta_wish .save-btn, .custmeta_wish .save-btn:hover, .custmeta_wish .save-btn:active, .custmeta_wish .save-btn:focus {
    background: transparent;
    color: #ff998d;
    margin-top: 10px;
    padding: 0;
}
  
.custmeta_wish button.save-btn img {
    width: 36px!important;
    position: relative;
}  
  
.product-save-btn img {
    width: 45px!important;
    padding-right: 0px;
    position: relative;
    left: -20px!important;
    bottom: 35px!important;
}  
</style>